//GLOBAL
 .main {
    padding: 40px 0;
 }
.main-wrapper {
    background-color: #ffffff;
}

//INFO/ORDER/BOOKING SECTION

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.card .card-body .last {
    color: rgb(255, 254, 254);
    text-align: center;
    font-weight: 900;
}

.btn-secondary-main{
    width: 100%;
    margin: 45px 0 0 0; 
    color: white;
    background-color: #ff6b6b;
}

.btn-secondary-main:hover {
    background-color: inherit;
    color: white;
    border: solid;
}

.card-body p {
    margin-top: 20px ;
    transition: all 0.5s ease-out;
    opacity: 0;
}

.card:hover p {
    transform: translateY(-20px);
    color: #f7f3f3;
    font-weight: bolder;
    opacity: 1;
}

//CARUSEL

.carousel-cell {
    display: flex;
    text-align: center;
    height: 200px;
    padding: 0 20px;
}

.carousel-cell img {
    width: 300px;
    height: 200px;
}
.opinion{
    padding: 20px;
}

.feedback-name {
    font-size: 20px;
    font-style: oblique;
    font-weight: bolder;
    color:  #ff6b6b;
}

.opinion h4 {
    font-style: oblique;
    font-weight: bolder;
    color:  #ff6b6b;
}

//Gallery

.card-1::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 88.5%;
    background-color: rgb(80, 83, 83);
    top: 0;
    opacity: 0;
}

.card-1:hover::after {
    position: absolute;
    opacity: 20%;
    }
.icons {
    max-height: 20px;
}
.icons i{
    opacity: 0;
     }

.card {
    background-color: #ffffff;
    border: none;
     }

.card:hover i {
    transform: translateY(-90px);
    transition: color 2s;
    color: #f01e1e;
    font-weight: bolder;
    opacity: 1;
    font-size: 30px;
}













